body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #497b97;
  font-size: 50px;
  line-height: 55px;
  font-weight: 400;
  margin: 0;
}

h3 {
  color: #7395af;
  font-size: 32px;
  line-height: 35px;
  font-weight: 100;
  margin: 0;
  text-transform: capitalize;
}

h4 {
  text-transform: capitalize;
  color: #7395af;
}

ul {
  padding: 0;
  margin: 0;
}

.properties {
  list-style: none;
  color: #938e95;
  font-size: 20px;
  font-weight: 100;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #b1a295;
  border-radius: 8px;
}

.location {
  padding: 10px 20px;
}

.weather-temperature strong {
  font-size: 50px;
  font-weight: 100;
  line-height: 1;
  color: #497b97;
}
.col-6 {
  padding: 0;
}

.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -23px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  line-height: 30px;
  display: table-row;
  color: #84c5bf;
  list-style: none;
  font-size: 20px;
  font-weight: 100;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

.weather-forecast-day-one {
  max-width: none;
  padding: 0;
}

.weather-forecast-temperature {
  display: block;
  margin: 0 auto;
  color: #adadad;
}

.weather-forecast-date {
  color: #84c5bf;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}
