body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #3d5a80;
  font-size: 60px;
  line-height: 63px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 10px;
  text-align: center;
}

h3 {
  color: #6d8fa8;
  font-size: 32px;
  line-height: 35px;
  font-weight: 100;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

em {
  font-style: normal;
  color: #ee6c4d;
  padding: 7px;
}

h4 {
  text-transform: capitalize;
  color: #8dacc4;
  text-align: center;
}

li {
  padding: 10px 0 10px 20px;
  margin: 0;
  font-size: 30px;
}

.properties {
  list-style: none;
  color: #938e95;
  font-size: 20px;
  font-weight: 100;
  line-height: 25px;
  margin: 20px 0 0 5px;
  padding: 25px 20px;
  border: 1px solid #f8f5f5;
  border-radius: 8px;
  background-color: rgba(245, 240, 240, 0.671);
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #b1a295;
  border-radius: 8px;
}

.location {
  padding: 20px 20px 10px 20px;
}

.col-9 {
  padding: 10px 15px;
}

.col-3 {
  padding: 10px 5px;
}

.weather-temperature strong {
  font-size: 70px;
  font-weight: 100;
  line-height: 1.5;
  color: #3d5a80;
  padding: 0 0 0 60px;
}

.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -40px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  line-height: 30px;
  display: table-row;
  color: #68a7a0;
  list-style: none;
  font-size: 20px;
  font-weight: 100;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

.weather-forecast-day-one {
  max-width: none;
  padding: 0;
}

.weather-forecast-temperature {
  display: block;
  margin: 0 auto;
  color: #adadad;
}

.weather-forecast-date {
  color: #84c5bf;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

#date {
  font-weight: 600;
  padding: 0 0 5px 7px;
}

#humidity {
  font-weight: bold;
}

#wind {
  font-weight: bold;
}

.btn {
  background-color: #3d5a80;
  border: #3d5a80;
  padding: 7px 14px;
}

.btn:hover {
  background-color: #3d5a80d3;
}
